* {
  margin: 0;
  padding: 0;
}
  
body {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template: 0.5fr 3.5fr / 0.5fr 2.5fr 1fr;
  /* gap: 4px; */
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* If this doesn't work, give the icons a class

img[alt*="icon"] {
  color: #FFFFFF
} */


/* Might be best to flexbox the heading instead of grid. With grid, the right side has to start from the end. Bottom-left would have addt'l space.  */
.heading {
  grid-column: 2 / span 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Add CSS styling to the sections under the heading  */
.button-row button {
  padding: 16px 32px;
  border-radius: 28px;
  margin: 12px;
  background: #3882F6;
  border: 2px solid #EEE;
  color: #EEE;
  font-size: 20px;
  font-weight: 700;
}

.sidebar {
  background-color: skyblue;
  grid-column: 1;
  grid-row: 1 / span 2;
  /* gap: 10px; */
}

/* Add CSS styling to the sections under the sidebar  */
.sidebar .dashboard {
  color: #FFFFFF;
}

.sidebar img[alt*="icon"] {
  color: #FFFFFF
}

.sidebar ul {
  color: #FFFFFF;
  list-style-type: none;
}

.main {
  background-color: #BCCBDE;
  grid-column: 2 / span 2;
  grid-row: 2;
  gap: 15px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Add CSS styling to the sections under main.  */
/* Style favorite, view and share icons in the Projects cards?  */
/* See HTML for announcement & trending card styling differences */

.projects .card {
  background-color: #FFFFFF;
  color: black;
  height: 200px;
  border-radius: 8px;
  margin: 8px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}
  
.card .title {
  font-size: 18px;
  font-weight: bold;
}

.announcements .card {
  background-color: #FFFFFF;
  color: black;
  height: 200px;
  border-radius: 8px;
  margin: 8px;
}

/* Line break CSS goes here? Is this even the right way to target the paragraph? */
.announcements .card:nth-child(even)::after {
  margin-bottom: 1em;
  line-height: 1.7em;
  background: linear-gradient(180deg, #000 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%);
  background-size: 100% 1.7em;
}